<router-outlet></router-outlet>
<div>
  <mat-toolbar>
    <div class="company-name">
      <button mat-raised-button>
        INNOVASANA
      </button>
    </div>
    <div class="menu-buttons">
      <button mat-raised-button>
        HOME
      </button>
      <button mat-raised-button>
        ABOUT
      </button>
      <button mat-raised-button>
        ONE WITH NATURE
      </button>
    </div>
  </mat-toolbar>
</div>


<div class="main-content">
  <mat-card class="main-card" style="background-color: white; opacity: 70%; height: 500px;">
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div>
